<div class="container">
  <nav>
    <ul>
      <li>
        <a routerLink="">Accueil</a>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink="catalogue">Catalogue</a>
      </li>
      <li>
        <a routerLink="panier">Panier</a>
      </li>
    </ul>
  </nav>
  <!--<h1>Enfant-parent et parent-enfant</h1>
  <h3>Liste des produits</h3>
  <app-panier [panier]="panier"></app-panier>
  <app-liste-produits (ajouterAuPanierEvt)="mettreAJourPanier($event)" [listeProduits]="produits"></app-liste-produits>
  -->
  <router-outlet></router-outlet>

  <h1>Pipes</h1>

  <h3>Titres contenant le mot "développement"</h3>
  <p *ngFor="let titre of titres | recherche :'développement'">{{ titre }}</p>

  <h3>Chansons</h3>
  <table role="grid">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Interprète</th>
        <th>Taille</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let chanson of chansons">
        <td>{{ chanson.titre }}</td>
        <td>{{ chanson.interprete }}</td>
        <td>{{ chanson.taille | tailleFichier }}</td>
      </tr>
    </tbody>
  </table>

  <h3>Utilisateurs</h3>

  <article *ngFor="let utilisateur of utilisateurs">
    <div class="grid">
      <div class="avatar" [ngStyle]="{
        'background-image' : 'url(' + (utilisateur.avatar | defaut:avatarDefaut) + ')'
      }"></div>
      <div class="pseudo">{{ utilisateur.pseudo }}</div>
      <div>{{ utilisateur.age }}</div>
    </div>
  </article>

</div>